#BubbleChart {
  height: 40vh;
  background: transparent;
  position: relative;
  padding: 1.6rem;
}

#BubbleChart .bubble {
  position: absolute;
  border-radius: 50%;
}

#BubbleChart .revenue {
  background: var(--green);
  bottom: 1.6rem;
  bottom: 8vh;
  right: 13vh;
}

#BubbleChart .revenue.zindex {
  z-index: 999;
  min-height: 80px;
  min-width: 80px;
  right: 5vh;
}

#BubbleChart .cost {
  background: var(--red);
  right: 3.2rem;
}

#BubbleChart .future {
  background: var(--orange);
  bottom: 1.6rem;
}

#BubbleChart .white {
  color: var(--light);
  font-weight: 700;
}
