:root {
    --color-background: #f0f0f7;
    --color-primary-lighter: #df998c;
    --color-primary-light: #c9806d;
    --color-primary: #896a67;
    --color-primary-dark: #6b4d57;
    --color-primary-darker: #13070c;
    --color-secondary: #a7ddaa;
    --color-secondary-dark: #7bcc7f;
    --color-title-in-primary: #ffffff;
    --color-text-in-primary: #301f1b;
    --color-text-title: #5d4846;
    --color-text-complement: #492a28;
    --color-text-base: #754b43;
    --color-line-in-white: #e6e6f0;
    --color-input-background: #f8f8fc;
    --color-button-text: #ffffff;
    --color-box-base: #ffffff;
    --color-box-footer: #fafafc;

    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

htm,
body,
#root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}
